{% extends "layout.html" %}

{% block title %} Proyecto Final {% endblock %}

{% block content %}
<section><br>
<h1>Cardio Good Fitness</h1>
<center><span >Tienda dedicada a la venta de productos para ejercitarse, en esta ocasión se ha tomado como muestra los datos acerca de tres productos en específico,<br> caminadoras siendo exactos, de los cuales se obtienen medidas de tendencia central así como datos estadísticos básicos acerca de estos. <br> Además se procederá a mostrar mediante gráficos dichos resultados obtenidos, así como un análisis de estos intentando entender la relación que poseen <br> de acuerdo con las edades e ingresos que los clientes presenten en los registros obtenidos.</span></center>
    <div class="producto-img centrar">
        <img src="/static/./image/fitness.jpg" alt="">
    </div>

<br><br><br><br>

<h2>Análisis Estadístico</h2>
<br><br><br>
    <main class="main">
        <p style="color: #000;">En el uso de la fuente de datos presentada y tras la obtención de datos estadísticos de estos, se procede con un análisis general de aquello, en el cual se toma en cuenta la división de los datos por productos, debido a que en base a estos se obtuvieron los demás. Los 3 productos que forman parte de este análisis son TM195, TM498 y TM798, trantándose estas de máquinas para ejercitarse (corredoras), de las cuales se puede observar a través de los datos estadísticos obtenidos la frecuencia con la que son adquiridas por las personas según el rango de edad de estas, para lo cual se puede determinar que para el producto TM195 las personas que poseen mayor interés en la compra de este, rondan en edades de 21 a 30 años. En el grafico a continuación podemos observar la relación que posee dicho rango de edad con el valor de ingreso anual que poseen.</p>    
        <div class="centrar">
            <img src="/static/./image/Imagen1.png" alt="">
        </div>
        <p style="color: #000;">
            Mientras que para el producto TM498 tenemos el siguiente gráfico, el cual nos muestra los ingresos según las edades, teniendo en cuenta con mayor énfasis a quienes poseen edades entre los 21 y 27, además de edades entre 30 a 33 años, ya que son quienes se han visto con mayor interés en la compra de dicho producto.
        </p>
        <div class="centrar">
            <img src="/static/./image/Imagen2.png" alt="">
        </div>
        <p style="color: #000;">
            Por último tenemos el gráfico de los ingresos de quienes han adquirido el producto TM798, siendo en este caso edades desde los 21 hasta los 27 quienes han adquirido mayormente dicho producto.
        </p>
        <div class="centrar">
            <img src="/static/./image/Imagen3.png" alt="">
        </div>
    </main>
    <br><br><br>
{% endblock %}
<br><br><br><br>